<div class="row">
  <div class="col-12 col-md-6">
    <%= f.field_container :boolean_value do %>
      <%= f.label :boolean_value, t('additional_store_settings.delivery_location.attributes.boolean_value') %>
      <%= f.check_box :boolean_value  %>
      <%= f.error_message_on :boolean_value %>
    <% end %>

    <%= f.field_container :number_value do %>
      <%= f.label :number_value, t('additional_store_settings.delivery_location.attributes.number_value') %>
      <%= f.number_field :number_value  %>
      <%= f.error_message_on :number_value %>
    <% end %>
    <%= f.field_container :text_value do %>
      <%= f.label :text_value, t('additional_store_settings.delivery_location.attributes.text_value') %>
      <%= f.text_area :text_value, class: 'fullwidth' %>
      <%= f.error_message_on :text_value %>
    <% end %>
    <% if @delivery_location.new_record? %>
      <%= f.hidden_field :label %>
    <% end %>
  </div>
</div>
