<%= form_for [:admin, @store, @store_email], url: @store_email.new_record? ? admin_store_additional_store_settings_path(store_id: @store.id) : admin_store_additional_store_setting_path(store_id: @store.id, id: @store_email.id) do |f| %>
  <h4><%= t('additional_store_settings.store_email.title') %></h4>
  <fieldset class="no-border-top">
    <%= render 'store_email_form', f: f %>
    <% if can? :update, @store %>
      <div class="form-buttons filter-actions actions" data-hook="buttons">
        <%= button_tag t('spree.actions.update'), class: 'btn btn-primary' %>
      </div>
    <% end %>
  </fieldset>
<% end %>

<%= form_for [:admin, @store, @store_phone], url: @store_phone.new_record? ? admin_store_additional_store_settings_path(store_id: @store.id) : admin_store_additional_store_setting_path(store_id: @store.id, id: @store_phone.id) do |f| %>
  <h4><%= t('additional_store_settings.store_phone.title') %></h4>
  <fieldset class="no-border-top">
    <%= render 'store_phone_form', f: f %>
    <% if can? :update, @store %>
      <div class="form-buttons filter-actions actions" data-hook="buttons">
        <%= button_tag t('spree.actions.update'), class: 'btn btn-primary' %>
      </div>
    <% end %>
  </fieldset>
<% end %>

<%= form_for [:admin, @store, @store_instagram], url: @store_instagram.new_record? ? admin_store_additional_store_settings_path(store_id: @store.id) : admin_store_additional_store_setting_path(store_id: @store.id, id: @store_instagram.id) do |f| %>
  <h4><%= t('additional_store_settings.store_instagram.title') %></h4>
  <fieldset class="no-border-top">
    <%= render 'store_instagram_form', f: f %>
    <% if can? :update, @store %>
      <div class="form-buttons filter-actions actions" data-hook="buttons">
        <%= button_tag t('spree.actions.update'), class: 'btn btn-primary' %>
      </div>
    <% end %>
  </fieldset>
<% end %>

<%= form_for [:admin, @store, @store_facebook], url: @store_facebook.new_record? ? admin_store_additional_store_settings_path(store_id: @store.id) : admin_store_additional_store_setting_path(store_id: @store.id, id: @store_facebook.id) do |f| %>
  <h4><%= t('additional_store_settings.store_facebook.title') %></h4>
  <fieldset class="no-border-top">
    <%= render 'store_facebook_form', f: f %>
    <% if can? :update, @store %>
      <div class="form-buttons filter-actions actions" data-hook="buttons">
        <%= button_tag t('spree.actions.update'), class: 'btn btn-primary' %>
      </div>
    <% end %>
  </fieldset>
<% end %>

<%= form_for [:admin, @store, @hidden_taxonomies], url: @hidden_taxonomies.new_record? ? admin_store_additional_store_settings_path(store_id: @store.id) : admin_store_additional_store_setting_path(store_id: @store.id, id: @hidden_taxonomies.id) do |f| %>
  <h4><%= t('additional_store_settings.hidden_taxonomies.title') %></h4>
  <fieldset class="no-border-top">
    <%= render 'hidden_taxonomies_form', f: f %>
    <% if can? :update, @store %>
      <div class="form-buttons filter-actions actions" data-hook="buttons">
        <%= button_tag t('spree.actions.update'), class: 'btn btn-primary' %>
      </div>
    <% end %>
  </fieldset>
<% end %>

<%= form_for [:admin, @store, @quantity_limit_taxonomy], url: @quantity_limit_taxonomy.new_record? ? admin_store_additional_store_settings_path(store_id: @store.id) : admin_store_additional_store_setting_path(store_id: @store.id, id: @quantity_limit_taxonomy.id) do |f| %>
  <h4><%= t('additional_store_settings.quantity_limit_taxonomy.title') %></h4>
  <fieldset class="no-border-top">
    <%= render 'quantity_limit_taxonomy_form', f: f %>
    <% if can? :update, @store %>
      <div class="form-buttons filter-actions actions" data-hook="buttons">
        <%= button_tag t('spree.actions.update'), class: 'btn btn-primary' %>
      </div>
    <% end %>
  </fieldset>
<% end %>

<%= form_for [:admin, @store, @featured_producer_taxon_name], url: @featured_producer_taxon_name.new_record? ? admin_store_additional_store_settings_path(store_id: @store.id) : admin_store_additional_store_setting_path(store_id: @store.id, id: @featured_producer_taxon_name.id) do |f| %>
  <h4><%= t('additional_store_settings.featured_producer_taxon_name.title') %></h4>
  <fieldset class="no-border-top">
    <%= render 'featured_producer_taxon_name_form', f: f %>
    <% if can? :update, @store %>
      <div class="form-buttons filter-actions actions" data-hook="buttons">
        <%= button_tag t('spree.actions.update'), class: 'btn btn-primary' %>
      </div>
    <% end %>
  </fieldset>
<% end %>

<%= form_for [:admin, @store, @featured_collection_taxon_name], url: @featured_collection_taxon_name.new_record? ? admin_store_additional_store_settings_path(store_id: @store.id) : admin_store_additional_store_setting_path(store_id: @store.id, id: @featured_collection_taxon_name.id) do |f| %>
  <h4><%= t('additional_store_settings.featured_collection_taxon_name.title') %></h4>
  <fieldset class="no-border-top">
    <%= render 'featured_collection_taxon_name_form', f: f %>
    <% if can? :update, @store %>
      <div class="form-buttons filter-actions actions" data-hook="buttons">
        <%= button_tag t('spree.actions.update'), class: 'btn btn-primary' %>
      </div>
    <% end %>
  </fieldset>
<% end %>

