<%= render 'spree/admin/shared/general_tabs' %>

<% content_for :page_title do %>
  <%= Spree.t(:additional_store_settings) %>
<% end %>

<% admin_breadcrumb(link_to(plural_resource_name(Spree::Store), admin_stores_path)) %>
<% admin_breadcrumb(@store.name) %>

<%= form_for [:admin, @store, @store_email], url: @store_email.new_record? ? admin_store_additional_store_settings_path(store_id: @store.id) : admin_store_additional_store_setting_path(store_id: @store.id, id: @store_email.id) do |f| %>
  <h4><%= t('additional_store_settings.store_email.title') %></h4>
  <fieldset class="no-border-top">
    <%= render 'store_email_form', f: f %>
    <% if can? :update, @store %>
      <div class="form-buttons filter-actions actions" data-hook="buttons">
        <%= button_tag t('spree.actions.update'), class: 'btn btn-primary' %>
      </div>
  <% end %>
  </fieldset>
<% end %>

<%= form_for [:admin, @store, @store_phone], url: @store_phone.new_record? ? admin_store_additional_store_settings_path(store_id: @store.id) : admin_store_additional_store_setting_path(store_id: @store.id, id: @store_phone.id) do |f| %>
  <h4><%= t('additional_store_settings.store_phone.title') %></h4>
  <fieldset class="no-border-top">
    <%= render 'store_phone_form', f: f %>
    <% if can? :update, @store %>
      <div class="form-buttons filter-actions actions" data-hook="buttons">
        <%= button_tag t('spree.actions.update'), class: 'btn btn-primary' %>
      </div>
  <% end %>
  </fieldset>
<% end %>

<%= form_for [:admin, @store, @store_instagram], url: @store_instagram.new_record? ? admin_store_additional_store_settings_path(store_id: @store.id) : admin_store_additional_store_setting_path(store_id: @store.id, id: @store_instagram.id) do |f| %>
  <h4><%= t('additional_store_settings.store_instagram.title') %></h4>
  <fieldset class="no-border-top">
    <%= render 'store_instagram_form', f: f %>
    <% if can? :update, @store %>
      <div class="form-buttons filter-actions actions" data-hook="buttons">
        <%= button_tag t('spree.actions.update'), class: 'btn btn-primary' %>
      </div>
  <% end %>
  </fieldset>
<% end %>

<%= form_for [:admin, @store, @store_facebook], url: @store_facebook.new_record? ? admin_store_additional_store_settings_path(store_id: @store.id) : admin_store_additional_store_setting_path(store_id: @store.id, id: @store_facebook.id) do |f| %>
  <h4><%= t('additional_store_settings.store_facebook.title') %></h4>
  <fieldset class="no-border-top">
    <%= render 'store_facebook_form', f: f %>
    <% if can? :update, @store %>
      <div class="form-buttons filter-actions actions" data-hook="buttons">
        <%= button_tag t('spree.actions.update'), class: 'btn btn-primary' %>
      </div>
  <% end %>
  </fieldset>
<% end %>


