<%= render partial: 'spree/shared/error_messages', locals: { target: @spree_user } %>
<div id="change-password" class="login">
  <div class="container">
    <div class="col login-col">
      <h1 class="col-title"><%= t('spree.change_my_password') %></h1>
      <%= form_for @spree_user, as: :spree_user, url: spree.update_password_path, method: :put do |f| %>
        <div id="password-credentials">
          <div class="input-holder">
            <%= f.label :password, t('spree.password') %><br />
            <%= f.password_field :password, class: 'title' %>
          </div>

          <div class="input-holder">
            <%= f.label :password_confirmation, t('spree.confirm_password') %><br />
            <%= f.password_field :password_confirmation, class: 'title' %>
          </div>
        </div>

        <%= f.hidden_field :reset_password_token %>
        <%= f.submit t('spree.update'), class: 'btn btn-primary' %>
      <% end %>
    </div>
  </div>
</div>