<!doctype html>
<!--[if lt IE 7 ]> <html class="ie ie6" lang="<%= I18n.locale %>"> <![endif]-->
<!--[if IE 7 ]>    <html class="ie ie7" lang="<%= I18n.locale %>"> <![endif]-->
<!--[if IE 8 ]>    <html class="ie ie8" lang="<%= I18n.locale %>"> <![endif]-->
<!--[if IE 9 ]>    <html class="ie ie9" lang="<%= I18n.locale %>"> <![endif]-->
<!--[if gt IE 9]><!--><html lang="<%= I18n.locale %>"><!--<![endif]-->
  <head data-hook="inside_head">
    <% if Rails.application.credentials.config[:ga_measurement_id] %>
      <!-- Global site tag (gtag.js) - Google Analytics -->
      <script async src="https://www.googletagmanager.com/gtag/js?id=<%= Rails.application.credentials.config[:ga_measurement_id] %>"></script>
      <script>
        window.dataLayer = window.dataLayer || [];
        function gtag(){dataLayer.push(arguments);}
        gtag('js', new Date());

        gtag('config', '<%= Rails.application.credentials.config[:ga_measurement_id] %>');

        <%= yield :gtag %>
      </script>
    <% end %>

    <%= render partial: 'spree/shared/head' %>
  </head>
  <body class="<%= body_class %>" id="<%= @body_id || 'default' %>" data-hook="body">

      <%= render partial: 'spree/shared/header' %>

      <%# render partial: 'spree/shared/modals/location_modal' %>

      <%= taxon_breadcrumbs_jsonld(@taxon) %>

      <%= flash_messages %>
      <%= yield %>

      <%= yield :templates %>

      <%= render partial: 'spree/shared/footer' %>

      <%= dump_jsonld %>
  </body>
</html>
