<% variant = line_item.variant -%>
<%= order_form.fields_for :line_items, line_item do |item_form| -%>
  <div class="cart-item line-item">
    <div class="cart-item-image">
      <%= link_to(render('spree/shared/image',
                         image: (variant.gallery.images.first || variant.product.gallery.images.first),
                         size: :small), variant.product) %>
    </div>
    <div class="cart-item-info-holder item-modal-col">
      <div class="cart-item-info">
        <div class="name">
          <p><%= link_to line_item.name, product_path(variant.product) %></p>
          <% if line_item.insufficient_stock? %>
            <span class="out-of-stock">
              <%= t('spree.out_of_stock') %>&nbsp;&nbsp;<br />
            </span>
          <% end %>
        </div>
        <div class="price">
          <p><%= line_item.single_money.to_html %></p>
        </div>
      </div>
      <%= render partial: 'spree/products/shared/product_controls_form_for', locals: { variant: variant, line_item: line_item, item_form: item_form } %>
    </div>
    <div class="close-button cart-item-delete" data-hook="cart_item_delete">
      <%= link_to image_tag('icons/icon-cart-x.svg'), '#', class: 'delete', id: "delete_#{dom_id(line_item)}" %>
    </div>
  </div>

<% end -%>
