<% unless selected_taxons.blank? %>
  <div class="selected-taxon">
    <div class="selected-taxon-holder">
      <div class="container">
        <% selected_taxons.values.flatten.each do |selected_taxon| %>
          <div class="tag">
            <p><%= selected_taxon.name %></p>
            <%= link_to taxon_seo_url(taxon: nil, selected_taxons: selected_taxons, excluded: selected_taxon) do %>
              <div class="close-tag">
                <%= image_tag("icons/icon-tag-close.svg") %>
              </div>
            <% end %>
          </div>
        <% end %>
      </div>
    </div>

    <% if taxon %>
      <% taxon_image = taxon.gallery.images.first %>
      <% if taxon_image || !taxon.description.blank? %>
        <div class="selected-taxon-description">
          <div class="container">
            <div class="taxon-image-holder">
              <%= render('spree/shared/image', image: taxon_image, size: :small, itemprop: "image") if taxon_image %>
            </div>
            <div class="taxon-description">
              <%== taxon.description %>
            </div>
            <div class="taxon-see-more-btn">
              Leggi tutto
            </div>
          </div>
        </div>
      <% end %>
    <% end %>
  </div>
<% end %>