<% if taxon %>
  <div class="producer-section">
    <div class="producer-tags-holder">
      <div class="container">
        <% selected_taxons.each do |key, selected_taxon| %>
          <div class="tag">
            <p><%= selected_taxon.name %></p>
            <%= link_to taxon_seo_url(taxon:nil, selected_taxons:selected_taxons, excluded:selected_taxon) do %>
              <div class="close-tag">
                <%= image_tag("icons/icon-tag-close.svg") %>
              </div>
            <% end %>
          </div>
        <% end %>
      </div>
    </div>

    <% taxon_image = taxon.gallery.images.first %>
    <% if taxon_image || !taxon.description.blank? %>
      <div class="producer-content-holder">
        <div class="container">
          <div class="col col-left">
            <%= render('spree/shared/image', image: taxon_image, size: :small, itemprop: "image") if taxon_image %>
          </div>
          <div class="col col-right">
            <%== taxon.description %>
          </div>
        </div>
      </div>
    <% end %>
  </div>
<% end %>