<div class="filters-holder">
  <div class="container title-container">
    <h1 class="title-small">RISULTATI PER:</h1>
    <h1 class="title-big">
      <%= t('store.general.catalog')%>
    </h1>
  </div>
  <div class="container filters-container">
    <div class="filters-mobile-btn-holder">
      <button class="btn btn-primary inverted">
        <span><%= t('store.general.filters')%></span>

      </button>
    </div>
    <div class="filters">
      <%= form_tag products_path, method: :get do %>
        <% with_grandchildren = [:country] %>
        <% filters = [:wine_type, :country, :producer, :grape_type, :format] %>
        <% grandchild_key = { country: :region } %>

        <% filters.each do |taxonomy_key| %>
          <% localized_taxonomy_key = t("store.taxonomy_key.#{taxonomy_key}") %>
          <div class="filter-select-holder">
            <div class="filter-select">
              <%= image_tag("icons/taxon_filter/#{taxonomy_key}.svg") %>
              <p><%= t("store.product.index.filters.#{taxonomy_key}") %></p>
              <%= image_tag("icons/icon-chevron-down.svg") %>
            </div>
            <div class="filter-dropdown">
              <% taxon_children(taxonomy_key, order: ('name asc')).each do |child_taxon| %>
                <div class="dropdown-item">
                  <div class="dropdown-item-select">
                    <%= check_box_tag "#{localized_taxonomy_key}[]", child_taxon.name, params[localized_taxonomy_key] == child_taxon.name %>
                    <%= child_taxon.name %>
                  </div>
                  <% if with_grandchildren.include?(taxonomy_key) && grandchild_key[taxonomy_key] %>
                    <div class="dropdown-subitem-wrapper">
                      <% Spree::Taxon.where(parent: child_taxon).each do |grandchild_taxon| %>
                        <div class='dropdown-subitem'>
                          <% localized_taxonomy_subkey = t("store.taxonomy_key.#{grandchild_key[taxonomy_key]}") %>
                          <%= check_box_tag "#{localized_taxonomy_subkey}[]", grandchild_taxon.name, params[localized_taxonomy_subkey] == grandchild_taxon.name  %>
                          <%= grandchild_taxon.name %>
                        </div>
                      <% end %>
                    </div>
                  <% end %>
                </div>
              <% end %>
            </div>
          </div>
        <% end %>
        <%= range_field_tag :price_lte, :min=>0, :max=>200, :id=>"slider1"%>
        <div><%= submit_tag %></div>
      <% end %>
    </div>
  </div>
</div>