<div class="filters-holder">
  <div class="container title-container">
    <h1 class="title-small">RISULTATI PER:</h1>
    <h1 class="title-big">
      <%= t('store.general.catalog')%>
    </h1>
  </div>
  <div class="container filters-container">
   <div class="filters-mobile-btn-holder">
     <button class="btn btn-primary inverted">
       <span><%= t('store.general.filters')%></span>
     </button>
   </div>
    <div class="filters">
      <% filters = [:wine_type, :country, :producer, :grape_type, :format] %>

      <% filters.each do |taxon_key| %>
        <div class="filter-select-holder">
          <div class="filter-select">
            <%= image_tag("icons/taxon_filter/#{taxon_key}.svg") %>
            <p><%= t("store.product.index.filters.#{taxon_key}") %></p>
            <%= image_tag("icons/icon-chevron-down.svg") %>
          </div>
          <div class="filter-dropdown">
            <% taxon_children(taxon_key, order: ('name asc')).each do |taxon_child| %>

              <%= link_to taxon_seo_url(taxon:taxon_child, selected_taxons: selected_taxons) do %>
                <div class="dropdown-item">
                  <%= taxon_child.name %>
                </div>
              <% end %>
            <% end %>
          </div>
        </div>
      <% end %>
    </div>
  </div>
  <!-- <div class="slider">
    <%= range_field_tag :w1, :min=>0, :max=>200, :id=>"slider1"%>
  </div> -->
</div>