<style>
  .title-table{
    text-transform: uppercase;
  }
  .table-order{
   margin-top: 20px;
   margin-bottom: 20px;
   width: 100%;
  }
  .confirm-mail-wrapper{
    padding: 10px;
  }
  .cell-text{
    text-align: center;
  }
  .summery-title{
    font-weight: bold;
  }
  .products-end{
    border-bottom: 1px solid #333;
  }
  .table-titles{
   border-bottom: 1px solid #333;
  }
  .table-order td,th{
    white-space: nowrap;
    padding: 5px !important;
  }
</style>
<table class="confirm-mail-wrapper">
  <tr>
    <td>
      <p class="lede">
        <%= t('.dear_customer') %>
      </p>
      <p>
        <%= t('.instructions') %>
      </p>
      <p class="title-table">
        <%= t('.order_summary') %>
      </p>
      <table class="table-order">
        <tr class="table-titles">
          <th class="title"><%= t('spree.item') %></th>
          <th class="cell-text"><%= t('spree.price') %></th>
          <th class="cell-text"><%= t('spree.qty') %></th>
          <th class="cell-text"><span><%= t('spree.total') %></span></th>
        </tr>
        <% @order.line_items.each do |item| %>
          <tr>
            <td>
              <%= item.variant.product.name %>
              <%= item.variant.options_text -%>
            </td>
            <td class="cell-text"><%=item.quantity%></td>
            <td class="cell-text"><%= item.single_money %></td>
            <td class="cell-text"><%= item.display_amount %></td>
          </tr>
        <% end %>
        <tr class="products-end"></tr>
        <tr>
          <td class='summery-title'>
            <%= t('.subtotal') %>
          </td>
          <td></td>
          <td></td>
          <td class="cell-text">
            <%= @order.display_item_total %>
          </td>
        </tr>
        <% if @order.line_item_adjustments.exists? %>
          <% if @order.all_adjustments.promotion.eligible.exists? %>
            <% @order.all_adjustments.promotion.eligible.group_by(&:label).each do |label, adjustments| %>
              <tr>
                <td class='summery-title'><%= t('spree.promotion') %> <%= label %>:</td>
                <td></td>
                <td></td>
                <td class="cell-text"><%= Spree::Money.new(adjustments.sum(&:amount), currency: @order.currency) %></td>
              </tr>
            <% end %>
          <% end %>
        <% end %>
        <% @order.shipments.group_by { |s| s.selected_shipping_rate.try(:name) }.each do |name, shipments| %>
          <tr>
            <td class='summery-title'><%= t('spree.shipping') %> <%= name %>:</td>
            <td></td>
            <td></td>
            <td class="cell-text"><%= Spree::Money.new(shipments.sum(&:total_before_tax), currency: @order.currency) %></td>
          </tr>
        <% end %>
        <% if @order.all_adjustments.eligible.tax.exists? %>
          <% @order.all_adjustments.eligible.tax.group_by(&:label).each do |label, adjustments| %>
            <tr>
              <td class='summery-title'><%= t('spree.tax') %> <%= label %>:</td>
              <td></td>
              <td></td>
              <td class="cell-text"><%= Spree::Money.new(adjustments.sum(&:amount), currency: @order.currency) %></td>
            </tr>
          <% end %>
        <% end %>
        <% @order.adjustments.eligible.each do |adjustment| %>
          <% next if (adjustment.source_type == 'Spree::TaxRate') and (adjustment.amount == 0) %>
          <tr>
            <td class='summery-title'><%= adjustment.label %>:</td>
            <td></td>
            <td></td>
            <td class="cell-text"><%= adjustment.display_amount %></td>
          </tr>
        <% end %>
        <tr>
          <td class='summery-title'>
            <%= t('.total') %>
          </td>
          <td></td>
          <td></td>
          <td class="cell-text">
            <%= @order.display_total %>
          </td>
        </tr>
        <tr>
          <td class='summery-title'>
            <%= t('.iva') %>
          </td>
          <td></td>
          <td></td>
          <td class="cell-text">
            <%= @order.display_total %>
          </td>
        </tr>
      </table>
      <p class="thanks">
        <%= t('.thanks') %>
      </p>
    </td>
    <td class="expander">
    </td>
  </tr>
</table>
