<style>
  .title-table{
    text-transform: uppercase;
  }
  .table-order{
   margin-top: 20px;
   margin-bottom: 20px;
   width: 100%;
  }
  .confirm-mail-wrapper{
    padding: 10px;
  }
  .cell-text{
    text-align: center;
  }
  .summary-title{
    font-weight: bold;
  }
  .products-end{
    border-bottom: 1px solid #333;
  }
  .table-titles{
   border-bottom: 1px solid #333;
  }
  .table-order td,th{
    white-space: nowrap;
    padding: 5px !important;
  }
</style>
<table>
  <tr>
    <td>
      <p class="lede">
        <%= t('spree.order_mailer.inventory_cancellation.dear_customer') %>
      </p>
      <p>
        <%= t('spree.order_mailer.inventory_cancellation.instructions') %>
      </p>
      <p>
        <%= t('spree.order_mailer.inventory_cancellation.order_summary_canceled') %>
      </p>
      <table class="table-order">
        <tr class="table-titles">
          <th class="title"><%= t('spree.item') %></th>
          <th></th>
        </tr>
        <% @inventory_units.each do |item| %>
          <tr>
            <td><%= item.variant.product.name %></td>
            <td><%= item.variant.options_text -%></td>
          </tr>
        <% end %>
        <tr class="products-end"></tr>
      </table>
      <p>
    </td>
    <td class="expander"></td>
  </tr>
</table>
