<%= render partial: "spree/shared/breadcrumbs", locals: { name: t("store.shared.main_menu.label.locale") } %>

<div class="illocale">
  <div class="who-we-are-background-locale"></div>
  <div class="container">
    <h1 class="title">
      <%= t("store.shared.main_menu.label.locale") %>
    </h1>
    <h3 class="subtitle"><%== t("store.home.who_we_are.title_illocale") %></h3>

    <div class="content-holder">
      <%= render partial: "spree/pages/show/social_and_about_us_content",locals:{hasEmergency: true, info_mail:true}%>
      
      <div class="content-bottom">
        <div class="title-holder">
          <h1 class="title"><%= t("store.home.follow_us.title") %></h1>
          <% if store_instagram %>
            <%= link_to store_instagram, target: :_blank do %>
              <%= image_tag("icons/social/icon-instagram-black.svg") %>
            <% end %>
          <% end %>
          <% if store_facebook %>
            <%= link_to store_facebook, target: :_blank do %>
              <%= image_tag("icons/social/icon-facebook-black.svg") %>
            <% end %>
          <% end %>
        </div>
        <%= render partial: "spree/shared/widget" %>
      </div>
    </div>
    <% if store_instagram %>
      <%= link_to t("store.home.follow_us.button"), store_instagram, class: "btn btn-dark-transparent", target: :_blank %>
    <% end %>
  </div>
</div>