<div class="content-top">
  <div class="col col-left">
    <div class="img-holder">
      <% if has_info_mail %>
        <%= image_tag("home/illocale.png") %>
      <% else %>
        <%= image_tag("home/who_we_are.png") %>
      <% end %>
    </div>
    <div class="text-holder">
      <p class="text"><%= t("store.home.who_we_are.text_illocale") %></p>
    </div>
  </div>
  <div class="col col-right <%= has_info_mail ? "locale" : "who_we_are_position" %>" >
    <h2><%= t("store.shared.footer.info.contacts") %></h2>
    <% if store_phone %>
      <p class="phone"><%== t("store.shared.footer.contact.phone_number", phone: store_phone) %></p>
    <% end %>
    <p>
      <%= t("store.shared.footer.contact.write_us") %>
      <% if has_info_mail %>
       <% if store_email2 %>
        <a class="info-mail" href="mailto:<%= store_email2 %>"><%= store_email2 %></a>
        <% end %>
      <% else %>
        <% if store_email %>
          <a class="info-mail" href="mailto:<%= store_email %>"><%= store_email %></a>
        <% end %>
      <% end %>
      
      <br>
      <%= t("store.home.who_we_are.write_as") %>
      <% if store_instagram %>
        <%= link_to "@#{store_instagram.to_s.split("/").last}", store_instagram %>
      <% end %>
    </p>
    <div class="social">
      <% if store_instagram %>
        <%= link_to store_instagram, target: :_blank do %>
          <%= image_tag("icons/social/icon-instagram-white.svg") %>
        <% end %>
      <% end %>
      <% if store_facebook %>
        <%= link_to store_facebook, target: :_blank do %>
          <%= image_tag("icons/social/icon-facebook-white.svg") %>
        <% end %>
      <% end %>
    </div>
    <%if has_emergency %>
      <div class="emergency">
        <%= image_tag("home/who-we-are/who-we-are-emergency.png") %>
      </div>
    <% end %>
  </div>
</div>