<div class="filters-holder">
  <div class="container filters-container">
    <div class="filters">
      <%= form_tag products_path, method: :get do %>
        <% with_grandchildren = [:country] %>
        <% filters = [:country] %>
        <% grandchild_key = { country: :region } %>

        <% filters.each do |taxonomy_key| %>
          <% localized_taxonomy_key = t("store.taxonomy_key.#{taxonomy_key}") %>
          <div class="filter-options-holder">
            <label class="filter-options">
              <%= image_tag("icons/taxon_filter/#{taxonomy_key}.svg") %>
              <p><%= t("store.product.index.filters.#{taxonomy_key}") %></p>
              <%= image_tag("icons/icon-chevron-down.svg") %>
            </label>
            <div class="filter-dropdown" data-taxonomy-key="<%= taxonomy_key %>">
              <% taxon_children(taxonomy_key, order: ("name asc")).each do |child_taxon| %>
                <div class="dropdown-item" name="<%= taxonomy_key %>">
                  <label class="dropdown-item-title">
                    <%= check_box_tag "#{localized_taxonomy_key}[]", child_taxon.name, params[localized_taxonomy_key] == child_taxon.name %>
                    <p><%= child_taxon.name %></p>
                  </label>
                  <% if with_grandchildren.include?(taxonomy_key) && grandchild_key[taxonomy_key] %>
                    <div class="dropdown-subitem-wrapper" data-grandchild-taxonomy-key="<%= grandchild_key[taxonomy_key] %>" name="<%= grandchild_key[taxonomy_key] %>">
                      <% Spree::Taxon.where(parent: child_taxon).each do |grandchild_taxon| %>
                        <div class='dropdown-subitem'>
                          <% localized_taxonomy_subkey = t("store.taxonomy_key.#{grandchild_key[taxonomy_key]}") %>
                          <%= check_box_tag "#{localized_taxonomy_subkey}[]", grandchild_taxon.name, params[localized_taxonomy_subkey] == grandchild_taxon.name %>
                          <p><%= grandchild_taxon.name %></p>
                        </div>
                      <% end %>
                    </div>
                  <% end %>
                </div>
              <% end %>
            </div>
          </div>
        <% end %>
      <% end %>
    </div>
  </div>
</div>