<%= content_tag :div, class: "cart-nav" do -%>
  <a href="#" class="cart-nav-button">
    <span class="cart-text" id="link-to-cart">
      <noscript>
        <%= t('spree.cart') %>
      </noscript>
      &nbsp;
    </span>
    <%= image_tag("icons/icon-cart.svg") %>
  </a>
  <div id="cart-modal">
    <%= render partial: 'spree/shared/header/cart_modal' %>
  </div>
<% end -%>
<script>Spree.fetch_cart('<%= j spree.cart_link_path %>')</script>
