<nav class="navbar" data-hook>
  <div class="nav-link-holder">
    <%= link_to t("store.shared.main_menu.label.home"), "/", class: "nav-link" %>
  </div>
  <div class="nav-link-holder">
    <%= link_to t("store.shared.main_menu.label.new_products"), seo_url(taxon_by_key(:new)), class: "nav-link #{conditionally_active_for(seo_url(taxon_by_key(:new)))}" %>
  </div>
  <div class="nav-link-holder">
    <%= link_to t("store.shared.main_menu.label.products"), "/products", class: "nav-link #{conditionally_active_for(products_path)}" %>
  </div>

  <%= render partial: 'spree/shared/header/nav_bar/nav_link_holder', locals: { taxon_key: :wine_type } %>
  <%= render partial: 'spree/shared/header/nav_bar/nav_link_holder', locals: { taxon_key: :country } %>
  <%= render partial: 'spree/shared/header/nav_bar/nav_link_holder', locals: { taxon_key: :producer, limit: 10 } %>

  <div class="nav-link-holder">
    <%= link_to t("store.shared.main_menu.label.locale"), "/p/il-locale", class: "nav-link" %>
  </div>

</nav>
