<% if ENV["GA_MEASUREMENT_ID"] && order_just_completed?(@order) %>
  <% content_for :gtag do %>
    <% gtag_purchase_items = [] %>
    <% order.line_items.each do |line_item| %>
      <% gtag_purchase_items.push({
                                      'name': line_item.variant.name,
                                      'id': line_item.variant.sku,
                                      'price': line_item.total,
                                      'variant': line_item.variant.options_text,
                                      'quantity': line_item.quantity
                                  }) %>
    <% end %>

    gtag('event', 'purchase', {
    "transaction_id": '<%= order.number %>',
    "affiliation": '<%= current_store.name %>',
    "value": '<%= order.total %>',
    "currency": '<%= order.currency %>',
    "tax": '<%= order.tax_total %>',
    "shipping": '<%= order.ship_total %>',
    "items": <%= raw gtag_purchase_items.to_json %>
    });
  <% end %>
<% end %>

<% if order_just_completed?(@order) %>
  <div class="step-four">
    <%= image_tag("checkout/order-confirmed.png") %>
    <p class="cheers"><%= t('store.checkout.confirmed.cheers') %></p>
    <h1 class="step-four-title"><%= t('store.checkout.confirmed.order_confirmed') %></h1>
    <%= link_to t('store.checkout.confirmed.back_to_products'), '/products', class: 'btn btn-primary' %>
    <p class="step-four-text"><%= t('store.checkout.confirmed.hint_html') %></p>
  </div>
<% end %>

<div class="container">
  <div class="col-confirm order-show-col">
    <fieldset id="order_summary" data-hook>
      <h1><%= accurate_title %></h1>

      <div id="order" data-hook>
        <%= render partial: 'spree/shared/order_details', locals: { order: @order, showTableDetails: true } %>

        <br class="clear"/>

        <p data-hook="links">
          <%= link_to t('spree.back_to_store'), spree.root_path, class: "button" %>
          <% unless order_just_completed?(@order) %>
            <% if try_spree_current_user && respond_to?(:account_path) %>
              <%= link_to t('spree.my_account'), spree.account_path, class: "button" %>
            <% end %>
          <% end %>
        </p>
      </div>
    </fieldset>
  </div>
</div>
