<div class="checkout">
  <div class="container">
    <div class="col left-col">
      <%= render partial: 'spree/checkout/steps_nav' %>
      <%= render partial: 'spree/register/register' %>
      <!-- <%= render partial: 'spree/checkout/step_two' %> -->
      <!-- <%= render partial: 'spree/checkout/step_three' %> -->
      <!-- <%= render partial: 'spree/checkout/step_four' %> -->
    </div>
    <%= render partial: 'spree/shared/summary' %>
  </div>
</div>