<div class="col-confirm">
  <fieldset id="order_details" data-hook>
    <div class="clear"></div>
    <legend align="center"><%= t('spree.confirm') %></legend>
    <%= render partial: 'spree/shared/order_details', locals: { order: @order, showTableDetails: true } %>
  </fieldset>
  <article class="form-buttons" data-hook="buttons">
    <% requires_acceptance = true %>
    <% if requires_acceptance %>
      <div class="terms_and_conditions" data-hook="terms_and_conditions">
        <a href='https://www.iubenda.com/privacy-policy/57534398' class='iubenda-nostyle no-brand iubenda-embed' title='Privacy Policy'>Privacy
          Policy</a>
        <div class="accept-terms">
          <%= check_box_tag :accept_terms_and_privacy, 'accepted', false %>
          <%= label_tag :accept_terms_and_privacy, t('store.checkout.agree_to_terms_of_privacy') %>
        </div>
        <a href="https://www.iubenda.com/termini-e-condizioni/57534398" class='iubenda-nostyle no-brand iubenda-embed' title='Terms & Conditions'>Terms & Conditions</a>
        <div class="accept-terms">
          <%= check_box_tag :accept_terms_and_conditions, 'accepted', false %>
          <%= label_tag :accept_terms_and_conditions, t('store.checkout.agree_to_terms_of_services') %>
        </div>
      </div>
    <% end %>

    <%= submit_tag t('spree.place_order'),
                   disabled: requires_acceptance,
                   class: "continue btn btn-primary #{ 'disabled' if requires_acceptance }" %>


    <script>Spree.disableSaveOnClick();</script>
  </article>
</div>