<%#= render partial: 'spree/shared/error_messages', locals: { target: @order } %>

<div class="checkout">
  <div class="container">
    <div class="col left-col">
      <div class="back-btn-checkout">
        <%= checkout_back_button %>
      </div>
      <%= checkout_progress %>

      <%= form_for @order, url: update_checkout_path(@order.state), html: { id: "checkout_form_#{@order.state}" } do |form| %>
        <% if @order.state != 'address' && !@order.email? %>
          <div class="form-row">
            <div class="form-col">
              <div class="input-holder" %>
                <%= form.label :email %><br/>
                <%= form.email_field :email, required: true %>
              </div>
            </div>
          </div>
        <% end %>
        <div class="form-col-left">
          <%= render @order.state, form: form %>
        </div>
        <% if @order.state != 'confirm' %>
          <div id="checkout-summary">
            <div class="summary">

              <%= render partial: 'spree/orders/shared/summary_prices', locals: { order: @order } %>

              <%= submit_tag t('store.cart.cart_button'), class: 'btn btn-primary btn-to-checkout checkout primary', id: 'checkout-link', name: 'checkout' %>
            </div>
          </div>
        <% end %>
      <% end %>

      <% if @order.state == 'payment' %>
        <div class="code-holder">
          <p class="code-title">
            <%= t('store.cart.cart_info_code') %>
          </p>
          <%= render partial: 'spree/coupon_codes/coupon_code', locals: { order: @order } %>
        </div>
      <% end %>

    </div>
  </div>
</div>

<script>
  Spree.current_order_id = "<%= @order.number %>";
  Spree.current_order_token = "<%= @order.guest_token %>"
</script>
