<%= render partial: 'spree/shared/error_messages', locals: { target: @user } %>

<div class="login">
  <div class="container">
    <% if flash[:alert] %>
      <div class="flash errors"><%= flash[:alert] %></div>
    <% end %>
    <div class="col login-col">
      <h1 class="col-title">
        Ho già un account
      </h1>
      <%= form_for Spree::User.new, as: :spree_user, url: spree.create_new_session_path, class: "login-form" do |f| %>
        <div class="input-holder">
          <%= f.label :email, t('spree.email') %><br/>
          <%= f.email_field :email, class: 'title', tabindex: 1, autofocus: true %>
        </div>
        <div class="input-holder">
          <%= f.label :password, t('spree.password') %><br/>
          <%= f.password_field :password, class: 'title', tabindex: 2 %>
        </div>
        <div>
          <%= link_to t('spree.forgot_password'), spree.recover_password_path, class: "forgot-password-link"  %>
        </div>

        <%= f.submit "ACCEDI", class: 'btn btn-primary', tabindex: 4 %>
      <% end %>
      <p class="or">oppure</p>
      <button class="btn btn-facebook">
        <%= image_tag("auth/btn-facebook.png") %>
        <span>Continua con Facebook</span>
      </button>
      <button class="btn btn-google">
        <%= image_tag("auth/btn-google-oauth2.png") %>
        <span>Sign in with Google</span>
      </button>
    </div>
    <div class="col register-col">
      <h1 class="col-title">
        Non ho un account
      </h1>
      <%= link_to 'REGISTRATI', spree.signup_path, class: 'btn btn-primary' %>
      <p class="or">oppure</p>
      <button class="btn btn-facebook">
        <%= image_tag("auth/btn-facebook.png") %>
        <span>Continua con Facebook</span>
      </button>
      <button class="btn btn-google">
        <%= image_tag("auth/btn-google.png") %>
        <span>Sign in with Google</span>
      </button>
    </div>
  </div>
</div>