<div class="nav-link-holder">
  <%= link_to t("store.shared.main_menu.label.#{taxon_key}"), "/", class: "nav-link nav-link-with-drop " %>
  <%= content_tag :div, class: "nav-drop-holder" do -%>
    <%= content_tag :div, class: "nav-dropdown #{css_classes}" do -%>
      <div class="col title-col">
        <%= image_tag("icons/nav_bar/#{taxon_key}.svg") %>
        <%= content_tag :p, t("store.shared.main_menu.title.#{taxon_key}") %>
      </div>
      <div class="col dropdown-col">
        <% if defined?(limit) %>
          <% taxons = taxon_children(taxon_key, order: ('name asc'), limit: limit) %>
        <% else %>
          <% taxons = taxon_children(taxon_key, order: ('name asc')) %>
        <% end %>
        <% taxons.each do |child_taxon| %>
          <div class="drop-link-holder">
            <div class="origine-main">
              <%= link_to child_taxon.name, seo_url(child_taxon), class: "drop-link" %>
              <div class="drop-title">
                <%= child_taxon.name %>
              </div>
            </div>
            <div class="origine-regions">
              <div class="origin-region-title">
                <%= image_tag("icons/nav_bar/paese.svg") %>
                <%= content_tag :p, t("store.shared.main_menu.subtitle.region") %>
              </div>
              <% if defined?(with_grandchildren) && with_grandchildren %>
                <% Spree::Taxon.where(parent: child_taxon).each do |grandchild_taxon| %>
                  <%= link_to grandchild_taxon.name, seo_url(grandchild_taxon), class: "drop-link" %>
                <% end %>
              <% end %>
              <span>
                <%= link_to t("store.general.see_all"), seo_url(child_taxon), class: "drop-link" %>
              </span>
            </div>
          </div>
        <% end %>
        <% if defined?(limit) %>
          <div class="see-all-holder">
            <%= t("store.general.see_all") %>
          </div>
        <% end %>
      </div>
    <% end -%>
  <% end -%>
</div>