<div class="container">
  <div class="col col-left">
    <div class="product-tag">
      <div class="tag-icon">
        <%= image_tag("icons/icon-product-year.svg") %>
      </div>
      <div class="tag-info">
        <p class="title">
          ANNATA
        </p>
        <p class="text">
          2019
        </p>
      </div>
    </div>
    <div class="product-tag">
      <div class="tag-icon">
        <%= image_tag("icons/icon-product-nation.svg") %>
      </div>
      <div class="tag-info">
        <p class="title">
          NAZIONE
        </p>
        <p class="text">
          Italia
        </p>
      </div>
    </div>
    <div class="product-tag">
      <div class="tag-icon">
        <%= image_tag("icons/icon-product-region.svg") %>
      </div>
      <div class="tag-info">
        <p class="title">
          REGIONE
        </p>
        <p class="text">
          Sicilia
        </p>
      </div>
    </div>
    <div class="product-tag">
      <div class="tag-icon">
        <%= image_tag("icons/icon-product-alcohol.svg") %>
      </div>
      <div class="tag-info">
        <p class="title">
          ALCOL
        </p>
        <p class="text">
          12%
        </p>
      </div>
    </div>
    <div class="product-tag">
      <div class="tag-icon">
        <%= image_tag("icons/icon-product-format.svg") %>
      </div>
      <div class="tag-info">
        <p class="title">
          FORMATO
        </p>
        <p class="text">
          1l
        </p>
      </div>
    </div>
    <div class="product-tag">
      <div class="tag-icon">
        <%= image_tag("icons/icon-product-vine.svg") %>
      </div>
      <div class="tag-info">
        <p class="title">
          OCCASIONE
        </p>
        <p class="text">
          Cena di pesce
        </p>
      </div>
    </div>
  </div>
  <div class="col col-right">
    <p class="title">
      COSA NE PENSIAMO
    </p>
    <p class="text">
      Cantina Malandrino, siamo Mascali, versante est ai piedi dell’Etna 450m s.l.m. Tre ettari di vigneti gestiti con
      amore e cura da Diego e Cinzia.Nerello Cappuccio in purezza,rarità in sole 500 bottiglie, breve macerazione e
      affinamento in anfora. Pifferaio magico.
    </p>
  </div>
</div>