<% cache [I18n.locale, current_pricing_options, @product] do %>
  <%= jsonld @product %>
  <div data-hook="product_show" itemscope itemtype="http://schema.org/Product">
    <% @body_id = 'product-details' %>

    <div class="product-hero">
      <div class="container">
        <div class="col col-left">
          <!-- TODO: add correct social icon actions -->
          <div class="product-social">
            <%= link_to "https://www.facebook.com" do %>
              <%= image_tag("icons/icon-facebook-original.svg") %>
            <% end %>
            <%= link_to "https://www.twitter.com" do %>
              <%= image_tag("icons/icon-twitter-original.svg") %>
            <% end %>
            <%= link_to "https://www.twitter.com" do %>
              <%= image_tag("icons/icon-favourite.svg") %>
            <% end %>
          </div>
          <div class="product-image-holder">
            <%= render partial: 'image' %>
          </div>
        </div>
        <div class="col col-right">
          <div class="product-info">
            <h1 class="title"><%= @product.name %></h1>
            <h1 class="title-big"><%= @product.name %></h1>
            <div class="product-info-tags-holder">
              <div class="product-tag">
                <div class="tag-icon">
                  <%= image_tag("icons/icon-product-type.svg") %>
                </div>
                <div class="tag-info">
                  <p class="title"><%= t('store.product.taxon.wine_type') %></p>
                  <p class="text"><%= @product.tag(type: :taxon, key: :wine_type) %></p>
                </div>
              </div>
              <div class="product-tag">
                <div class="tag-icon">
                  <%= image_tag("icons/icon-product-vine.svg") %>
                </div>
                <div class="tag-info">
                  <p class="title"><%= t('store.product.taxon.grape_type') %></p>
                  <p class="text"><%= @product.grape_type_taxon_names.join(', ') %></p>
                </div>
              </div>
            </div>
            <div class="price-holder">
              <div class="price">
                <p><%= display_price(@product) %></p>
              </div>
              <div class="controls">
                <button class="btn btn-control-cart">-</button>
                <p>1</p>
                <button class="btn btn-control-cart">+</button>
              </div>
            </div>
            <button class="btn btn-primary btn-add-to-cart">
              <%= t('store.product.add_to_cart_button') %>
            </button>
            <div class="delivery">
              <%= image_tag("icons/icon-product-delivery.svg") %>
              <p>
                <%= t('store.product.delivery') %>
              </p>
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="product-tags">
      <%= render partial: 'spree/products/product_tags', locals: { product: @product } %>
    </div>

    <div class="product-cellar">
      <%= render partial: 'spree/products/product_cellar' %>
    </div>

    <div class="slider-and-info-section">
      <%= image_tag("slider-and-info/slider-and-info-background.png", class: "background-image") %>
      <%= render partial: 'spree/products/product_slider_and_info' %>
    </div>

  </div>
<% end %>
