<% cache [I18n.locale, current_pricing_options, @product] do %>
  <%= jsonld @product %>
  <div data-hook="product_show" itemscope itemtype="http://schema.org/Product">
    <% @body_id = 'product-details' %>

    <%= render partial: 'spree/products/show/breadcrumbs', locals: { product: @product } %>

    <div class="product-hero">
      <div class="container">
        <div class="col col-left">
          <div class="product-social">
            <%= link_to "https://www.facebook.com/sharer/sharer.php?u=#{url_encode product_url(@product)}" do %>
              <%= image_tag("icons/social/icon-facebook-original.svg") %>
            <% end %>
            <%= link_to "https://twitter.com/intent/tweet?text='#{@product.name}'&url=#{url_encode product_url(@product)}", class: 'twitter-share-button' do %>
              <%= image_tag("icons/social/icon-twitter-original.svg") %>
            <% end %>
            <div class="favourite" data-favourite-icon="<%= @product.id %>">
              <%= render partial: 'spree/shared/favourite_product_icon', locals: { product: @product } %>
            </div>
          </div>
          <div class="product-image-holder">
            <% if @product.gallery.images.first %>
              <%= render 'spree/shared/image',
                         image: @product.gallery.images.first,
                         size: :large,
                         itemprop: "image" %>
            <% else %>
              <%= image_tag("product/product-placeholder.jpg") %>
            <% end %>
            <div class="slash">
              <%= image_tag("product/slash.svg") %>
            </div>
          </div>
        </div>
        <div class="col col-right">
          <div class="product-info">
            <h1 class="title"><%== @product.producer&.name %></h1>
            <h1 class="title-big"><%== @product.name %></h1>
            <div class="product-info-tags-holder">
              <%= render partial: 'spree/products/show/tag', locals: { product: @product, type: :taxon, key: :wine_type } %>
              <%= render partial: 'spree/products/show/tag', locals: { product: @product, type: :taxon, key: :grape_type } %>
            </div>

            <div id="cart-form" data-hook="cart_form">
              <%= form_for :order, url: populate_orders_path(redirect_back_to_product: true) do |f| %>

                <div id="inside-product-cart-form" data-hook="inside_product_cart_form" itemprop="offers" itemscope itemtype="http://schema.org/Offer">
                  <%= hidden_field_tag "variant_id", @product.master.id %>

                  <% if @product.price_for(current_pricing_options) and !@product.price.nil? %>
                    <div class="price-holder">
                      <div class="price" itemprop="price" content="<%= @product.price_for(current_pricing_options).to_d %>">
                        <p>
                          <%= display_price(@product) %>
                          <span itemprop="priceCurrency" content="<%= current_pricing_options.currency %>"></span>
                        </p>
                      </div>
                      <%= render partial: 'spree/products/show/product_controls', locals: { product: @product } %>
                    </div>
                    <div class="button_wrapper">
                      <% disabled = !@product.master.can_supply? || max_product_quantity(@product)==0 %>
                      <%= button_tag class: "btn btn-primary btn-add-to-cart #{"disabled" if disabled}", disabled: disabled, id: 'add-to-cart-button', type: :submit do %>
                        <%= t('spree.add_to_cart') %>
                      <% end %>
                      <% if @product.master.can_supply? %>
                        <link itemprop="availability" href="http://schema.org/InStock"/>
                      <% else %>
                        <span class="out-of-stock"><%= t('spree.out_of_stock') %></span>
                      <% end %>
                    </div>

                  <% else %>
                    <div id="product-price">
                      <br>
                      <div>
                        <span class="price selling" itemprop="price"><%= t('spree.product_not_available_in_this_currency') %></span>
                      </div>
                    </div>
                  <% end %>
                </div>

                <%# Spree::PaymentMethod.available_to_users.select { |payment_method| payment_method.try(:display_on_product_page) }.each do |payment_method| %>
                <%#= render partial: "spree/products/payment/#{payment_method.product_page_partial_name}", locals: { payment_method: payment_method } %>
                <%# end %>
              <% end %>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>


  <%= render partial: 'spree/products/show/tags', locals: { product: @product } %>
  <%= render partial: 'spree/products/show/producer', locals: { producer: @product.producer } if @product.producer %>
  <%= render partial: 'spree/products/show/swiper', locals: { producer: @product.producer } %>
  <%= render partial: 'spree/products/show/region', locals: { region: @product.taxon_by_key(key: :region) } %>

<% end %>
