<% cache [I18n.locale, current_pricing_options, @product] do %>
  <%= jsonld @product %>
  <div data-hook="product_show" itemscope itemtype="http://schema.org/Product">
    <% @body_id = 'product-details' %>

    <%= render partial: 'spree/products/show/breadcrumbs', locals: { product: @product } %>

    <div class="product-hero">
      <div class="container">
        <div class="col col-left">
          <!-- TODO: add correct social icon actions -->
          <div class="product-social">
            <%= link_to "https://www.facebook.com" do %>
              <%= image_tag("icons/icon-facebook-original.svg") %>
            <% end %>
            <%= link_to "https://www.twitter.com" do %>
              <%= image_tag("icons/icon-twitter-original.svg") %>
            <% end %>
            <%= link_to "https://www.twitter.com" do %>
              <%= image_tag("icons/icon-favourite.svg") %>
            <% end %>
          </div>
          <div class="product-image-holder">
            <%= render partial: 'spree/products/show/image' %>
            <div class="slash">
              <%= image_tag("product/slash.svg") %>
            </div>
          </div>
        </div>
        <div class="col col-right">
          <div class="product-info">
            <h1 class="title"><%== @product.producer&.name %></h1>
            <h1 class="title-big"><%== @product.name %></h1>
            <div class="product-info-tags-holder">
              <div class="product-tag">
                <div class="tag-icon">
                  <%= image_tag("icons/icon-product-type.svg") %>
                </div>
                <div class="tag-info">
                  <p class="title"><%= t('store.product.taxon.wine_type') %></p>
                  <p class="text"><%= @product.tag(type: :taxon, key: :wine_type) %></p>
                </div>
              </div>
              <div class="product-tag">
                <div class="tag-icon">
                  <%= image_tag("icons/icon-product-vine.svg") %>
                </div>
                <div class="tag-info">
                  <p class="title"><%= t('store.product.taxon.grape_type') %></p>
                  <p class="text"><%= @product.grape_type_taxon_names.join(', ') %></p>
                </div>
              </div>
            </div>

            <div id="cart-form" data-hook="cart_form">
              <%= form_for :order, url: populate_orders_path do |f| %>

                <div id="inside-product-cart-form" data-hook="inside_product_cart_form" itemprop="offers" itemscope itemtype="http://schema.org/Offer">
                  <%= hidden_field_tag "variant_id", @product.master.id %>

                  <% if @product.price_for(current_pricing_options) and !@product.price.nil? %>
                    <div class="price-holder">
                      <div class="price" itemprop="price" content="<%= @product.price_for(current_pricing_options).to_d %>">
                        <p>
                          <%= display_price(@product) %>
                          <span itemprop="priceCurrency" content="<%= current_pricing_options.currency %>"></span>
                        </p>
                        <% if @product.master.can_supply? %>
                          <link itemprop="availability" href="http://schema.org/InStock"/>
                        <% elsif @product.variants.empty? %>
                          <br/>
                          <span class="out-of-stock"><%= t('spree.out_of_stock') %></span>
                        <% end %>
                      </div>
                      <div class="controls">
                        <%= hidden_field_tag :quantity, 1, min: 0, max: max_product_quantity(@product), class: "quantity-input" %>
                        <span class="btn btn-control-cart minus">-</span>
                        <p id="quantity" class="quantity-value" data-quantity="1" data-max-product-quantity="<%= max_product_quantity(@product) %>">1</p>
                        <span class="btn btn-control-cart plus">+</span>
                      </div>
                    </div>
                    </div>

                    <%= button_tag class: 'btn btn-primary btn-add-to-cart', id: 'add-to-cart-button', type: :submit do %>
                      <%= t('spree.add_to_cart') %>
                    <% end %>


                  <% else %>
                    <div id="product-price">
                      <br>
                      <div>
                        <span class="price selling" itemprop="price"><%= t('spree.product_not_available_in_this_currency') %></span>
                      </div>
                    </div>
                  <% end %>
                  </div>
              <% end %>

              <div class="delivery">
                <%= image_tag("icons/icon-product-delivery.svg") %>
                <p>
                  <%= t('store.product.delivery') %>
                </p>
              </div>
            </div>
        </div>
      </div>
    </div>
  </div>


  <%= render partial: 'spree/products/show/tags', locals: { product: @product } %>
  <%= render partial: 'spree/products/show/producer', locals: { producer: @product.producer } %>
  <%= render partial: 'spree/products/show/swiper' %>
  <%= render partial: 'spree/products/show/region', locals: { region: @product.taxon_by_key(key: :region) } %>

<% end %>
