<div class="summary">
  <div class="info-holder">
    <p class="info-title">
      <%= t('store.cart.cart_info_title') %>
    </p>
    <div class="info-prices">
      <div class="price-row">
        <div class="text-holder">
          <p>
            <%= t('store.cart.cart_info_subtotal') %>
          </p>
        </div>
        <p class="price"><%= order.display_item_total.to_html %></p>
      </div>
      <% if order.passed_checkout_step?("delivery") && order.shipments.any? %>
        <div class="price-row">
          <div class="text-holder">
            <p>
              <%= t('store.cart.cart_info_shipping') %>
            </p>
          </div>
          <p class="price"><%= Spree::Money.new(order.shipments.to_a.sum(&:cost), currency: order.currency).to_html %></p>
        </div>
      <% end %>
      <div class="price-row total-row">
        <div class="text-holder">
          <p>
            <%= t('store.cart.cart_info_total') %>
          </p>
        </div>
        <p class="price"><%= order.display_order_total_after_store_credit.to_html %></p>
      </div>
    </div>
  </div>
  <div class="code-holder">
    <p class="code-title">
      <%= t('store.cart.cart_info_code') %>
    </p>
    <%= render partial: 'spree/coupon_codes/coupon_code', locals: { order: order } %>


  </div>
  <div class="submit-holder">
    <%#= submit_tag t('store.cart.cart_button'), class: 'btn btn-primary btn-to-checkout checkout primary', id: 'checkout-link', name: 'checkout' %>
    <%= link_to t('store.cart.cart_button'), checkout_state_path(@order.checkout_steps.first), class: 'btn btn-primary btn-to-checkout' %>
  </div>
  <%# if order.state == 'payment' %>
  <!--    <script>Spree.disableSaveOnClick();</script>-->
  <%# end %>
</div>