<div class="container title-container">
  <p class="cart-title">
    <%= t('store.cart.cart_title') %>
  </p>
</div>
<div class="container content-container">
  <div class="col items-col">
    <div class="cart-item">
      <div class="cart-item-image">
        <%= image_tag("products/product-default.jpg") %>
      </div>
      <div class="cart-item-info-holder">
        <div class="cart-item-info">
          <div class="name">
            <p>Cantina Del Malandrino ''Etienne'' 2019</p>
          </div>
          <div class="price">
            <p>30.00&euro;</p>
          </div>
        </div>
        <div class="controls">
          <button class="btn btn-control-cart">-</button>
          <p>1</p>
          <button class="btn btn-control-cart">+</button>
        </div>
      </div>
      <div class="close-button">
        <%= image_tag("icons/icon-cart-x.svg") %>
      </div>
    </div>
    <div class="cart-item">
      <div class="cart-item-image">
        <%= image_tag("products/product-default.jpg") %>
      </div>
      <div class="cart-item-info-holder">
        <div class="cart-item-info">
          <div class="name">
            <p>Cantina Del Malandrino ''Etienne'' 2019</p>
          </div>
          <div class="price">
            <p>30.00&euro;</p>
          </div>
        </div>
        <div class="controls">
          <button class="btn btn-control-cart">-</button>
          <p>1</p>
          <button class="btn btn-control-cart">+</button>
        </div>
      </div>
      <div class="close-button">
        <%= image_tag("icons/icon-cart-x.svg") %>
      </div>
    </div>
  </div>
  <%= render partial: 'spree/shared/summary' %>
</div>