<%= render 'spree/shared/error_messages', target: resource %>
<div class="login">
  <div class="container">
    <div class="col login-col">
      <h1 class="col-title">
        <% if session[:omniauth] %>
          <h6><%= I18n.t('spree.please_confirm_your_email') %></h6>
        <% else %>
          <h6><%= I18n.t('spree.new_customer') %></h6>
        <% end %>
      </h1>
      <%= form_for resource, as: :spree_user, url: spree.registration_path(resource) do |f| %>
        <%= render partial: 'spree/shared/devise/user_form', locals: { f: f } %>
        <%= f.submit t('spree.create'), class: 'btn btn-primary', tabindex: 4 %>
      <% end %>
      <p class="or">oppure</p>
      <%= link_to t('spree.login_as_existing'), spree.login_path, class: 'btn btn-primary' %>

      <%= render partial: 'spree/shared/devise/social_buttons' unless session[:omniauth] %>
    </div>
  </div>
</div>