<style>
  .title-table{
    text-transform: uppercase;
  }
  .table-order{
   margin-top: 20px;
   margin-bottom: 20px;
   width: 100%;
  }
  .confirm-mail-wrapper{
    padding: 10px;
  }
  .cell-text{
    text-align: center;
  }
  .summery-title{
    font-weight: bold;
  }
  .products-end{
    border-bottom: 1px solid #333;
  }
  .table-titles{
   border-bottom: 1px solid #333;
  }
  .table-order td,th{
    white-space: nowrap;
    padding: 5px !important;
  }
</style>
<table>
  <tr>
    <td>
      <p class="lede">
        <%= t('spree.shipment_mailer.shipped_email.dear_customer') %>
      </p>
      <p>
        <%= t('spree.shipment_mailer.shipped_email.instructions') %>
      </p>
      <p>
        <%= t('spree.shipment_mailer.shipped_email.shipment_summary') %>
      </p>
      <table class="table-order">
        <tr class="table-titles">
          <th class="title"><%= t('spree.item') %></th>
          <th></th>
        </tr>
        <% @manifest.each do |item| %>
          <tr>
            <td><%= item.variant.product.name %></td>
            <td><%= item.variant.options_text %></td>
          </tr>
        <% end %>
        <tr class="products-end"></tr>
      </table>
      <p>
        <%= t('spree.shipment_mailer.shipped_email.track_information', tracking: @carton.tracking) if @carton.tracking %>
      </p>
      <p>
        <%= t('spree.shipment_mailer.shipped_email.track_link', url: @carton.tracking_url) if @carton.tracking_url %>
      </p>
      <p>
        <%= t('spree.shipment_mailer.shipped_email.thanks') %>
      </p>
    </td>
    <td class="expander"></td>
  </tr>
</table>
