<div class="address vcard">
  <div class="fn"><p><%= address.name %></p></div>
  <% unless address.company.blank? %>
    <div class="org">
      <p>
        <%= address.company %>
      </p>
    </div>
  <% end %>
  <div class="adr">
    <div class="street-address">
      <div class="street-address-line">
        <p>
          <%= address.address1 %>
        </p>
      </div>
      <% unless address.address2.blank? %>
        <div class="street-address-line">
          <p>
            <%= address.address2 %>
          </p>
        </div>
      <% end %>
    </div>
    <div class="local">
      <span class="locality"><%= address.city %></span>
      <span class="region"><%= address.state_text %></span>
      <span class="postal-code"><%= address.zipcode %></span>
      <div class="country-name"><p><%= address.country.try(:name) %></p></div>
    </div>
  </div>
  <% unless address.phone.blank? %>
    <div class="tel">
      <p><%= address.phone %></p>
    </div>
  <% end %>
  <% unless address.alternative_phone.blank? %>
    <div class="alternative-phone tel">
      <span class="type"><%= t('spree.alternative_phone') %></span>
      <p><%= address.alternative_phone %></p>
    </div>
  <% end %>
</div>
