<!-- You can override this template to design your own footer. -->
<style>
.footer-address{
  display: flex;
  flex-direction: column;
  width: 100%;
  align-items: left;
  justify-content: center;
}
.address{
  margin-bottom: 16px;
}
.address p{
  font-size: 10px;
  margin: 0;
  text-align: center;
  line-height: 12px !important;
}
.footer-address-social{
  display: flex;
  width: 10%;
  align-items: left;
  justify-content:space-between;
}
</style>
<div class="footer-address">
  <div class="address">
    <% t('store.shared.footer.address').each do |adr| %>
      <%= content_tag :p, adr %>
    <% end %>
  </div>
  <div class="footer-address-social">
    <% if store_instagram %>
      <%= link_to store_instagram, target: :_blank do %>
        <%= image_tag("icons/social/icon-instagram-black.svg") %>
      <% end %>
    <% end %>
    <% if store_facebook %>
      <%= link_to store_facebook, target: :_blank do %>
        <%= image_tag("icons/social/icon-facebook-black.svg") %>
      <% end %>
    <% end %>
    </div>
  </div>