<div class="filters-holder">
  <div class="container title-container">
    <h1 class="title-small">RISULTATI PER:</h1>
    <h1 class="title-big">Catalogo</h1>
  </div>
  <div class="container filters-container">
    <div class="filters-mobile-btn-holder">
      <button class="btn btn-primary inverted">
        <span>FILTRI (1)</span>
        <%= image_tag("icons/icon-filter-primary.svg") %>
      </button>
    </div>
    <div class="filters">
      <div class="filter-select-holder">
        <div class="filter-select">
          <%= image_tag("icons/icon-filter-tag.svg") %>
          <p>Tipologia</p>
          <%= image_tag("icons/icon-chevron-down.svg") %>
        </div>
      </div>
      <div class="filter-select-holder">
        <div class="filter-select">
          <%= image_tag("icons/icon-filter-location.svg") %>
          <p>Origine</p>
          <%= image_tag("icons/icon-chevron-down.svg") %>
        </div>
      </div>
      <div class="filter-select-holder">
        <div class="filter-select">
          <%= image_tag("icons/icon-filter-producer.svg") %>
          <p>Produttore</p>
          <%= image_tag("icons/icon-chevron-down.svg") %>
        </div>
        <div class="filter-dropdown">
          <div class="dropdown-item">Podere Cipolla</div>
        </div>
      </div>
      <div class="filter-select-holder">
        <div class="filter-select">
          <%= image_tag("icons/icon-filter-grape.svg") %>
          <p>Vitigno</p>
          <%= image_tag("icons/icon-chevron-down.svg") %>
        </div>
      </div>
      <div class="filter-select-holder">
        <div class="filter-select">
          <%= image_tag("icons/icon-filter-format.svg") %>
          <p>Formato</p>
          <%= image_tag("icons/icon-chevron-down.svg") %>
        </div>
      </div>
      <div class="filter-select-holder">
        <div class="filter-select">
          <%= image_tag("icons/icon-filter-delivery.svg") %>
          <p>Consegna Milano</p>
          <%= image_tag("icons/icon-chevron-down.svg") %>
        </div>
      </div>
    </div>
  </div>
</div>