<footer id="footer" data-hook>
  <div class="footer-bottom">
    <div class="col logo-col">
      <%= image_tag("footer/footer-logo.svg", class: "logo-image") %>
      <div class="logo-social">
        <%= link_to 'https://www.instagram.com' do %>
          <%= image_tag("icons/icon-instagram-white.svg") %>
        <% end %>
        <%= link_to 'https://www.facebook.com', target: :_blank do %>
          <%= image_tag("icons/icon-facebook-white.svg") %>
        <% end %>
      </div>
    </div>
    <div class="col address-col">
      <address>
        <%= content_tag :p, "Dati societari" %>
        <%= content_tag :p, "Pet Nat srl Società" %>
        <%= content_tag :p, "Benefit" %>
        <%= content_tag :p, "Via Santa Croce, 19" %>
        <%= content_tag :p, "20122 Milano" %>
        <%= content_tag :p, "C.F./P.IVA" %>
        <%= content_tag :p, "10431760965" %>
      </address>
    </div>
    <div class="col nav-col">
      <div class="nav-holder">
        <p class="nav-title">Privacy Policy</p>

      </div>
    </div>
  </div>
</footer>
