<%= content_tag :div, class: "cart-nav" do -%>
  <button class="cart-nav-button">
    <span class="cart-text">
      <%= "CARRELLO(0)" %>
    </span>
    <%= image_tag("icons/icon-cart.svg") %>
  </button>
  <%= render partial: 'spree/cart/cart_modal' %>
<% end -%>
<script>Spree.fetch_cart('<%= j spree.cart_link_path %>')</script>
