<%= content_tag :div, class: "cart-nav" do -%>
  <%= link_to t('spree.cart') do %>
    <%#= spree.cart_path %>
    <span class="cart-text">
      <%= "CARRELLO(0)" %>
    </span>
    <%= image_tag("icons/icon-cart.svg") %>
  <% end %>
<% end -%>
<script>Spree.fetch_cart('<%= j spree.cart_link_path %>')</script>
