<nav class="navbar" data-hook>
  <div class="nav-link-holder">
    <%= link_to t("store.shared.main_menu.home"), "/", class: "nav-link" %>
  </div>
  <div class="nav-link-holder">
    <%= link_to t("store.shared.main_menu.new_products"), seo_url(new_products_taxon), class: "nav-link #{conditionally_active_for(seo_url(new_products_taxon))}" %>
  </div>
  <div class="nav-link-holder">
    <%= link_to t("store.shared.main_menu.products"), "/products", class: "nav-link #{conditionally_active_for(products_path)}" %>
  </div>
  <div class="nav-link-holder">
    <%= link_to t("store.shared.main_menu.wine_type"), "/", class: "nav-link nav-link-with-drop" %>
    <%= content_tag :div, class: "nav-drop-holder" do -%>
      <%= content_tag :div, class: "nav-dropdown" do -%>
        <div class="col title-col">
          <%= image_tag("icons/icon-tipologia.svg") %>
          <%= content_tag :p, t("store.shared.main_menu.wine_type") %>
        </div>
        <div class="col dropdown-col">
          <% taxon_children(:tipologia).each do |taxon| %>
            <div class="drop-link-holder">
              <%= link_to taxon.name, seo_url(taxon), class: "drop-link" %>
            </div>
          <% end %>
        </div>
      <% end -%>
    <% end -%>
  </div>
  <div class="nav-link-holder">
    <%= link_to t('store.shared.main_menu.origin'), "/", class: "nav-link nav-link-with-drop" %>
    <%= content_tag :div, class: "nav-drop-holder" do -%>
      <%= content_tag :div, class: "nav-dropdown" do -%>
        <div class="col title-col">
          <%= image_tag("icons/icon-origine.svg") %>
          <%= content_tag :p, t('store.shared.main_menu.origin') %>
        </div>
        <div class="col dropdown-col">
          <% taxon_children(:country).each do |taxon| %>
            <div class="drop-link-holder">
              <%= link_to taxon.name, seo_url(taxon), class: "drop-link" %>
            </div>
          <% end %>
        </div>
      <% end -%>
    <% end -%>
  </div>
  <div class="nav-link-holder">
    <%= link_to t('store.shared.main_menu.producers.label'), "/", class: "nav-link nav-link-with-drop" %>
    <%= content_tag :div, class: "nav-drop-holder" do -%>
      <%= content_tag :div, class: "nav-dropdown" do -%>
        <div class="col title-col">
          <%= image_tag("icons/icon-produttore.svg") %>
          <%= content_tag :p, t('store.shared.main_menu.producers.title') %>
        </div>
        <div class="col dropdown-col">
          <% taxon_children(:producers).each do |taxon| %>
            <div class="drop-link-holder">
              <%= link_to taxon.name, seo_url(taxon), class: "drop-link" %>
            </div>
          <% end %>
        </div>
      <% end -%>
    <% end -%>
  </div>
</nav>
