<% url = spree.product_path(product, taxon_id: @taxon.try(:id)) %>

<div class="product-card <%= css_classes %>" id="product_<%= product.id %>">
  <% cache(@taxon.present? ? [I18n.locale, section, current_pricing_options, @taxon, product] : [I18n.locale, section, current_pricing_options, product]) do %>
    <div class="product-image-holder">
      <div class="new-mark-top"></div>
      <%= link_to(render('spree/shared/image', image: product.gallery.images.first, size: :small, itemprop: "image"), url, itemprop: 'url') %>
      <div class="new-mark-bottom">
        <p><%= t('store.general.new_product') %></p>
      </div>
    </div>
    <div class="product-card-body">
      <div class="body-info">
        <p>
          <%= link_to truncate(product.name, length: 50), url, class: 'info', itemprop: "name", title: product.name %>
        </p>
      </div>
      <div class="body-actions-holder">
        <div class="price">
          <% if price = product.price_for(current_pricing_options) %>
            <%= price.to_html %>
          <% end %>
        </div>
        <div class="body-actions">
          <div class="add-to-cart">
            <%= image_tag("icons/icon-add-to-cart.svg") %>
          </div>
          <div class="favourite">
            <%= image_tag("icons/icon-favourite.svg") %>
          </div>
        </div>
      </div>
    </div>
  <% end %>
</div>