<%
  paginated_products = @searcher.retrieve_products if params.key?(:keywords)
  paginated_products ||= products
%>

<% content_for :head do %>
  <% if paginated_products.respond_to?(:total_pages) %>
    <%= rel_next_prev_link_tags paginated_products %>
  <% end %>
<% end %>

<div class="container">
  <div data-hook="products_search_results_heading">
    <% if paginated_products.empty? %>
      <div data-hook="products_search_results_heading_no_results_found">
        <%= t('spree.no_products_found') %>
      </div>
    <% elsif params.key?(:keywords) %>
      <div data-hook="products_search_results_heading_results_found">
        <h6 class="search-results-title"><%= t('spree.search_results', keywords: h(params[:keywords])) %></h6>
      </div>
    <% end %>
  </div>
</div>

<div class="container infinite-scroll-container">
  <% if paginated_products.any? %>

    <div class="products-holder">
      <%= render partial: 'spree/shared/product_cards', locals: { products: paginated_products } %>

    </div>

    <% if paginated_products.respond_to?(:total_pages) %>
      <p class="pagination">
        <%= link_to_next_page_xpt(paginated_products, t('spree.pagination.next_page'), remote: true) %>
      </p>
    <% end %>
  <% end %>
</div>


<%# if paginated_products.respond_to?(:total_pages) %>
<!--  <div class="container">-->
    <%#= paginate paginated_products %>
<!--  </div>-->
<%# end %>

<!--TODO temporarily commented out until the deprecation issue is solved -->
<%# jsonld_list(products) %>