<div class="summary">
  <div class="info-holder">
    <p class="info-title">
      <%= t('store.cart.cart_info_title') %>
    </p>
    <div class="info-prices">
      <div class="price-row">
        <div class="text-holder">
          <p>
            <%= t('store.cart.cart_info_subtotal') %>
          </p>
        </div>
        <p class="price">30,00&euro;</p>
      </div>
      <div class="price-row">
        <div class="text-holder">
          <p>
            <%= t('store.cart.cart_info_shipping') %>
          </p>
          <small>Consegna stimata 20 - 22 Novembre</small>
        </div>
        <p class="price">9,90&euro;</p>
      </div>
      <div class="price-row total-row">
        <div class="text-holder">
          <p>
            <%= t('store.cart.cart_info_total') %>
          </p>
        </div>
        <p class="price">39,90&euro;</p>
      </div>
    </div>
  </div>
  <div class="code-holder">
    <p class="code-title">
      <%= t('store.cart.cart_info_code') %>
    </p>
    <div class="code-input-holder">
      <input type="text" placeholder="Inserisci codice">
      <button class="btn btn-white-strong">
        <%= t('store.cart.cart_info_button') %>
      </button>
    </div>
  </div>
  <button class="btn btn-primary btn-to-checkout">
    <%= t('store.cart.cart_button') %>
  </button>
</div>