<% if false %>
  <% content_for :sidebar do %>
    <div data-hook="homepage_sidebar_navigation">
      <%= render partial: 'spree/shared/taxonomies' %>
    </div>
  <% end %>
<% end %>


<div class="home-content">
  <div class="home-hero">
    <%= image_tag("home/home-hero.png", class: "home-hero-image exceptSmallScreen") %>
    <%= image_tag("home/home-hero-mobile.png", class: "home-hero-image smallScreen") %>
    <div class="home-button-holder">
      <button class="btn btn-primary"><%= t('store.home.hero.catalog_button') %></button>
    </div>
  </div>

  <div data-hook="homepage_products">
    <% cache(cache_key_for_products) do %>
      <%= render partial: 'spree/shared/products', locals: { products: @products } %>
    <% end %>
  </div>

  <div class="arrivals-section">
    <%= render partial: 'spree/shared/arrivals_section', locals: { products: @new_products } %>
  </div>

  <div class="slider-and-info-section">
    <%= image_tag("slider-and-info/slider-and-info-background.png", class: "background-image") %>
    <%= render partial: 'spree/shared/slider_and_info' %>
  </div>

  <div class="arrivals-section">
    <%= render partial: 'spree/shared/our_selection' %>
  </div>

  <div class="slider-and-info-section reverse">
    <%= image_tag("slider-and-info/slider-and-info-background.png", class: "background-image") %>
    <%= render partial: 'spree/shared/fast_delivery' %>
  </div>

  <div class="who-we-are">
    <%= image_tag("who-we-are/who-we-are-background.png", class: "background-image") %>
    <%= render partial: 'spree/shared/who_we_are' %>
  </div>
</div>
